.div_items_hidden_menu {
  position: relative;
  display: flex;
}
.div_button_hidden_menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 120%;
  gap: 10px;
  animation-name: openMenu;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.button_menu_task_hidden {
  display: none;
  border: 0;
  background-color: var(--main-blue);
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.button_menu_task_hidden svg {
  width: 100%;
  height: 90%;
}

.button_menu_task {
  border: 0;
  background-color: var(--main-blue);
  height: 50px;
  width: 50px;
  border-radius: 10px;
  transition: all 0.2s;
}
.button_menu_task svg {
  fill: var(--main-white);
  width: 75%;
  height: 75%;
}

@media (max-width: 600px) {
  .button_menu_task_hidden {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@keyframes openMenu {
  from {
    bottom: 0;
  }
  to {
    bottom: 120%;
  }
}
