.div_delete_all_tasks {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.button_delete_all_task {
  font-size: 20px;
  right: 10px;

  font-family: var(--main-font);
  border: 3px solid var(--main-blue);
  border-radius: var(--main-border-radius);
  transition: 0.3s ease;
  font-weight: 700;
  background-color: var(--main-blue1);
  color: var(--main-blue);
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: var(--main-blue1);
    color: var(--main-blue);
    border: 3px solid var(--main-blue);
    transform: scale(1.05);
    transition: 0.3s ease;
  }
}
@media (max-width: 600px) {
  .div_delete_all_tasks {
    width: 380px;
    height: 50px;
    position: sticky;
    order: -1;
    margin-top: 30px;
  }
  .button_delete_all_task {
    font-size: 15px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
  }
}
@media (max-width: 400px) {
  .div_delete_all_tasks {
    width: 95%;
  }
}
