.div_item_container {
  display: flex;
  justify-content: center;
}

.div_item {
  display: flex;
  margin-top: 30px;
  border: 3px solid var(--main-blue);
  background-color: var(--main-blue1);
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  box-sizing: content-box;
  border-radius: 10px;
  animation-name: appearance_div;
  animation-duration: 0.25s;
}
.text_area_item {
  box-sizing: border-box;
  margin: 0;
  color: var(--main-blue);
  overflow-wrap: anywhere;
  resize: none;
  font-size: 30px;
  background-color: var(--main-blue1);
  border: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  overflow: hidden;
  height: auto;
  padding: 10px;
  &:focus {
    border: 0;
    outline: 0;
  }
}
.div_item h1 {
  padding: 10px;
  margin: 0;
  color: var(--main-blue);
  overflow-wrap: anywhere;
  font-size: 30px;
}
.text_area_item_done {
  text-decoration: line-through;
  color: var(--main-blue2);
}
.div_botton_panel {
  display: flex;
  position: relative;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border-top: 3px solid var(--main-blue);
  align-items: center;
}
.div_task_set_done {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  margin: 0;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.custom_checkbox {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.svg {
  width: 50px;
  height: 50px;
  z-index: 10;
  position: absolute;
}

.custom_checkbox:hover {
  cursor: pointer;
}

.custom_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.checkmark {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border: 2.5px solid var(--main-blue);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}

.custom_checkbox input:checked + .checkmark {
  background-color: var(--main-blue);
}

.custom_checkbox input:checked {
  fill: var(--main-blue1);
}

.div_item_menu {
  position: absolute;
  right: 10px;
  display: flex;
  gap: 10px;
}
.button_menu_task {
  border: 0;
  background-color: var(--main-blue);
  height: 50px;
  width: 50px;
  border-radius: 10px;
  transition: all 0.2s;

  &:hover {
    transition: all 0.2s;
    transform: scale(1.1);
    border: 0;
    background-color: var(--main-blue1);
    border: 2.5px solid var(--main-blue);
    cursor: pointer;
  }
}
.button_menu_task svg {
  fill: var(--main-white);
  width: 75%;
  height: 75%;
}
.button_menu_task:hover svg path {
  fill: var(--main-blue);
}
.button_menu_task_hidden {
  display: none;
  border: 0;
  background-color: var(--main-blue);
  height: 50px;
  width: 50px;
  border-radius: 10px;
  transition: all 0.2s;
}
.button_menu_task_hidden svg {
  fill: var(--main-white);
  width: 100%;
  height: 90%;
}

.button_menu_task_hidden path {
  fill: var(--main-white);
}
@keyframes appearance_div {
  0% {
    transform: scale(0, 0.025);
  }
  50% {
    transform: scale(1, 0.025);
  }
}
@media (max-width: 600px) {
  .button_menu_task_hidden {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button_menu_task {
    display: none;
  }
}
