.div_container {
  margin-top: 50px;
  display: grid;
}

.div_about_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  position: relative;
}
.div_about {
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  border: 3px solid var(--main-blue2);
  border-radius: 10px;
  background-color: var(--main-blue1);
}
.h1 {
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  color: var(--main-blue);
  font-family: var(--main-font);
  margin: 0;
  width: 100%;
  border-bottom: 2px dashed var(--main-blue);
}
.div_about_main p {
  padding: 10px;
  text-align: center;
  min-height: 300px;
  color: var(--main-blue);
  font-family: var(--main-font);
  font-size: 30px;
  margin: 0;
}

.div_target {
  padding: 30px;
  gap: 50px;
  display: flex;
  max-height: 700px;
}

.div_target_text {
  border: 3px solid var(--main-blue2);
  border-radius: 10px;
  background-color: var(--main-blue1);
  width: 75%;
}
.div_target_text p {
  padding: 10px;
  margin: 0;
  color: var(--main-blue);
  text-align: center;
  font-size: 30px;
  font-family: var(--main-font);
}

.div_target_image {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.div_target_image svg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.div_target_image path {
  fill: var(--main-blue1);
}

.div_function {
  display: flex;
  padding: 30px;
  gap: 50px;
  max-height: 700px;
}
.div_function_text {
  border: 3px solid var(--main-blue2);
  border-radius: 10px;
  background-color: var(--main-blue1);
  width: 75%;
  order: 1;
}
.div_function_text ul {
  margin: 0;
}
.div_function_text li {
  margin: 0;
  color: var(--main-blue);
  padding: 10px;

  font-size: 30px;
  font-family: var(--main-font);
}
.div_function_image {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
}
.div_function_image svg {
  width: 100%;
  height: 100%;
  fill: var(--main-blue1);
}

@media (max-width: 800px) {
  .div_target_text p {
    font-size: 20px;
  }
  .div_about p {
    font-size: 20px;
  }
  .div_target {
    max-height: 1000px;
    flex-direction: column;
    gap: 5px;
  }
  .div_target_text {
    width: 100%;
  }
  .div_target_image {
    width: 100%;
    height: 300px;
  }
  .div_target_image svg {
    width: 50%;
    height: 50%;
  }
  .div_function {
    max-height: 1000px;
    flex-direction: column;
    gap: 5px;
  }
  .div_function_text {
    width: 100%;
    order: -1;
  }
  .div_function_text li {
    font-size: 20px;
  }
  .div_function_image {
    width: 100%;
    height: 100%;
  }
  .div_function_image svg {
    width: 50%;
    height: 50%;
  }
}
