.div_time {
  padding: 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
  width: 200px;
  border-left: 3px solid var(--main-blue);
  border-right: 3px solid var(--main-blue);
  gap: 5px;
}
.div_button_taimer {
  display: flex;
  gap: 10px;
}
.button_time {
  border: 2px solid var(--main-blue);

  border-radius: 10px;
  color: var(--main-gray);
  transition: all 0.3s ease;
  background-color: var(--main-blue);
  width: 35px;
  height: 35px;

  &:hover {
    background-color: var(--main-blue1);
    color: var(--main-blue);
    cursor: pointer;
    transform: scale(1.1);
  }
}

.h1_time {
  margin-bottom: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  color: var(--main-blue);
}

.div_time_pause_svg {
  width: 100%;
  height: 100%;
}
.div_time_run_svg {
  width: 75%;
  height: 75%;
}
